# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

/.qmake.stash
/autom4te.cache/
/bin/
/config.guess
/config.log
/config.status
/config.sub
/configure
/generatedfiles/
/install-sh
/Makefile
/Makefile.Debug
/Makefile.Release
/Makefile.unix
/object_script.*
/OMSens_Qt.pro.*
